<script>
    // глобальный объект со всеми переменными, которые отправляются из gameRoutes.js
    window.gameData = {
        isPlayerTurn: {{isPlayerTurn}},
        playerHand: {{{json playerHand}}},
        botHand: {{{json botHand}}},
        currentDeck: {{{json currentDeck}}},
        trumpSuit: "{{trump}}"
    }
</script>

<div class="all-visual">
    <!-- боковое меню с инофрмацией об игре -->
    <div class="game-info">
        <div class="deck-area">
            <div class="showing1" style="display: none;">
                {{#each currentDeck}}
                {{#if @last}}
                <img src="{{this.skin}}" class="card" alt="trump: {{this.suit}} {{this.rank}}">
                {{/if}}
                {{/each}}
            </div>

            <div class="deck-count showing1" style="display: none;">
                {{currentDeck.length}}
            </div>

            <div class="card showing2" style="display: none;">
                <img src="icons/game/{{this.trump}}.png" class="card" alt="trump: {{this.trump}}">
            </div>

            <div class="turn-indicator">
                {{#if isPlayerTurn}}
                    <p class="deck-count">нижний</p>
                {{else}}
                    <p class="deck-count">верхний</p>
                {{/if}}
            </div>

            <a href="/"><button class="button-icon button-icon-delete"></button></a>
        </div>
    </div>

    <!-- экран игры -->
    <div class="game-container">
        <!-- зона верхнего игрока -->
        <div class="bot-area">
            <div class="bot-cards">
                {{#each botHand}}
                <img src="{{this.skin}}" class="card down-jump-card" alt="{{this.suit}} {{this.rank}}" data-suit="{{this.suit}}" data-rank="{{this.rank}}">
                {{/each}}
            </div>
        </div>

        <!-- зона играемых карт -->
        <div class="table-area">
            <!-- динамические заполняется скриптом -->
        </div>

        <!-- зона нижнего игрока -->
        <div class="player-area">
            <div class="player-cards">
                {{#each playerHand}}
                <img src="{{this.skin}}" class="card jump-card" alt="{{this.suit}} {{this.rank}}" data-suit="{{this.suit}}" data-rank="{{this.rank}}">
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/scripts/gameController.js"></script>