<script>
    // глобальный объект со всеми переменными, которые отправляются из gameRoutes.js
    window.gameData = {
        isPlayerTurn: {{isPlayerTurn}},
        playerHand: {{{json playerHand}}},
        botHand: {{{json botHand}}},
        currentDeck: {{{json currentDeck}}},
        trumpSuit: "{{trump}}",
        isGameEnd: {{isGameEnd}} || false
    }
</script>

<div class="all-visual">
    <!-- боковое меню с инофрмацией об игре -->
    <div class="game-info">
        <div id="turnIndicator" class="turn-indicator {{#if isPlayerTurn}}player-turn{{else}}bot-turn{{/if}}">ХОДИТ</div>
        <div class="deck-area">
            <div class="showing1" style="display: none;">
                {{#each currentDeck}}
                {{#if @last}}
                <img src="{{this.skin}}" class="card" alt="trump: {{this.suit}} {{this.rank}}">
                {{/if}}
                {{/each}}
            </div>

            <div class="deck-count showing1" style="display: none;">
                {{currentDeck.length}}
            </div>

            <div class="showing2" style="display: none;">
                <img src="icons/game/gray_{{this.trump}}.svg" class="suit-indicator" alt="trump: {{this.trump}}">
            </div>

            <a href="/"><button class="button-icon button-icon-delete"></button></a>
        </div>
    </div>

    <!-- экран игры -->
    <div class="game-container">
        <!-- зона верхнего игрока -->
        <div class="bot-area">
            <div class="bot-cards">
                {{#each botHand}}
                <img src="{{this.skin}}" class="card down-jump-card" alt="{{this.suit}} {{this.rank}}" data-suit="{{this.suit}}" data-rank="{{this.rank}}">
                {{/each}}
            </div>
        </div>

        <!-- зона играемых карт -->
        <div class="table-area">
            <!-- динамические заполняется скриптом -->
        </div>

        <!-- зона отображения конца игры -->
        <div class="end-game-message" style="display: none;">
            <h2>ПОБЕДИЛ <span class="winner-name"></span>!</h2>
            <button class="end-game-button" id="restart-button">РЕСТАРТ</button>
            <button class="end-game-button" id="menu-button">В МЕНЮ</button>
        </div>

        <!-- зона нижнего игрока -->
        <div class="player-area">
            <div class="player-cards">
                {{#each playerHand}}
                <img src="{{this.skin}}" class="card jump-card" alt="{{this.suit}} {{this.rank}}" data-suit="{{this.suit}}" data-rank="{{this.rank}}">
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/scripts/gameController.js"></script>